*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color:#555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin:0 auto;    /*for centering the row*/

}
section{
    padding: 80px 0;
}
header{
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.71)), url("img/hero.jpg");
      background-size:cover;
    background-position: center;
      height:100vh;
}
.hero-text-box{
    position: absolute; /*To center this vertically and horizontally*/
    width:1200px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);  /*The reason why transform: translate(-50%, -50%) is required is because you want
                                       the center of the element to line up with the center of its parent*/
}

h1,
h2,
h3{
       /*for Relative sizing of the text global font-size is 20 px set in html (6 line)
                       and now we'll specify text size in % for relativity*/
    font-weight: 300;
    text-transform: uppercase; /*uppercase text*/
    /*word-spacing:4px;*/
}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color:#fff;
    font-size:250%;
    word-spacing:4px;
    letter-spacing: 1px;
}
h2{
    font-size:180% ;
    word-spacing: 2px;
    text-align:center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-top: 30px;
}
h3{
    font-size:110%;
    margin-bottom:15px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content:" ";
    margin:0 auto;
    margin-top:20px;
    width:150px;
}
.long-copy{
    line-height: 145%;
    width:70%;
    margin-left: 15%;
}
.box{
    padding:2%;
}
.box p{
    font-size: 90%;
    line-height:145%;
}
/*----------ICONS-----------*/
.icon-big {
    font-size: 350%;
    display:block;
    /*margin-bottom: 10px;*/
    color: #e67e22;
}
.btn:link,
.btn:visited{
     display:inline-block;
    padding:10px 30px;
    text-decoration: none;
    font-weight:300;

}
.btn:hover,
.btn:active{
    background-color: #bf6516;
    transition: background-color 0.2ms, color 0.2ms, border 0.2ms;
}
.btn-full:link,
.btn-full:visited{
    border: 1px solid #e67e22;
    background-color: #e67e22;
    color:#fff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color:#e67e22;
}
.btn-full:hover,
.btn-full:active{
    border: 1px solid #e67e22;

}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #e67e22;
    color:#fff;
}
.logo{
    height:50px;
    width: auto;
    float:left;
    margin:5px 0;
}
.main-nav {
    list-style: none;
    /*float:right;*/
    margin-top: 20px;

}
/*-------STICKY NAV-------------*/
.sticky{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    background-color: rgba(230, 126, 34, 0.91);
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 18px 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    transition: border-bottom 0.2ms;
    background-color: transparent;
}
.sticky .main-nav li a:hover,
.sticky .main-nav li a:active{
    border-bottom: 3px solid #fff;}


.main-nav li {
    /*display: inline-block;*/
    float:right;
    margin-left: 30px;
    height:40px;
    width: 160px;

}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-size: 90%;
    transition: border-bottom 0.2ms;
    background-color: transparent;


}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 3px solid #e67e22;

}
.sub-nav-1{
    padding-top: 20px;
    width:auto;
}
.sub-nav-1 li {
    padding-top: 10px;
    display: block;
    background-color: transparent;
    }
.main-nav li .sub-nav-1 li a {
    color: #e67e22;
    font-weight:300;
    /*border:1px solid #e67e22;*/
    padding-left: 25px;
    /*transition: border-bottom 0.2ms;*/
}
.sub-nav-1 li a:hover,
.sub-nav-1 li a:active{
    border-bottom:none;
}
/*.main-nav li:link .sub-nav-1 li,*/
/*.main-nav li :visited .sub-nav-1 li{*/
/*    display: none;*/
/*}*/
/*.main-nav li :hover .sub-nav-1 li,*/
/*.main-nav li :active .sub-nav-1 li{*/
/*    display: block;*/
/*}*/
.main-nav li .sub-nav-1 li{
    display: none;
}
.main-nav li:hover .sub-nav-1 li{
    display:block
}
/*--------FEATURES SECTION---------*/
.section-features .long-copy{
    margin-bottom:40px;
}
/*--------MEALS SECTION---------*/
.meals-showcase{
    list-style: none;
    width:100%;
}
.meals-showcase li{
    display:block;
    float:left;
    width:25%;
}
.meal-photo{
    width:100%;
    margin:0;

    overflow: hidden;
    background-color: #000;   /*for the images to appear darker before hovering*/
}
.meal-photo img{
    opacity:0.7;
    width:100%;
    height: auto;
    transform:scale(1.15);
    transition:transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover{
    transform:scale(1.03);
    opacity: 1;
}
.section-meals{
    padding:0;
}

/*---------HOW IT WORKS---------*/

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top:70px;
}
.app-screen{
    width:40%;
}
.works-step{
    margin-bottom: 50px;
}
.works-step div{
    color:#e67e22;
    border:2px solid #e67e22;
    display:inline-block;
    border-radius: 50%;
    height: 55px;
    width:55px;
    text-align: center;
    padding:5px;
    /*float: left;*/
    font-size: 150%;
    margin-right: 25px;
}
.btn-app img{
    height:50px;
}

